// ----------------------------- imports ----------------------------- 
@import 'variables';
@import 'keyframes';

// ----------------------------- global ----------------------------- 
* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// ----------------------------- bootstrap ----------------------------- 
[class*="col"] {
    color: #000;
}

// ----------------------------- tabs ----------------------------- 


// ----------------------------- main ----------------------------- 
.main {
    height: 60vh;

    .name {
        margin: 5% 0 0 0 ;
        font-family: $poppins;
        font-weight: 500;
    }

    .what-it-do {
        font-family: $raleway;
        margin: 15% 0;
    }

    .orange {
        position: absolute;
        background-color: $mango;
        height: 90vh;
        width: 80vw;
    }

    .main-para {
        font-family: $poppins;
        font-weight: 500;
    }

// ----------------------------- icons ----------------------------- 
    .icons {

        position: absolute;
        bottom: 0px;

        ul {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            width: 100%;
            margin: 0 0 0 -10%;

            li {
                float: left;
                margin: 0 10% 0 0;
                align-items: end;


                a {
                    text-decoration: none;
                    color: $dark-gray;
                }

                i {
                    display: flex;
                    justify-content: center;
                    margin: 0 0 15% 0;
                }

                p {
                    display: inline;
                    white-space: nowrap;
                }
            }
        }


    
        p{
            font-size: .8rem;
            font-weight: 600;
        }
    }

// ----------------------------- change size  ----------------------------- 
    .change-size {
        transition: .3s ease-in-out;
        height: 40vh;
        width: 100vw;
    }

    .change-font {
        display: none;
    }
}

.hidden {
    display: none;
}



// ----------------------------- about part ----------------------------- 
.about {
    opacity: 0;
    animation: fadeInUp .2s ease-in-out 0s forwards;
    // animation:lightson .5s ease 2 forwards;
    position: relative;
    visibility: visible;
    display: grid;
    justify-content: center;
    align-content: center;
    // width: 60vw;
    margin: -20% 0 0 0;
    // height: 250vh;

    .about-me {
        opacity: 0;
        animation: fadeInUp .5s ease-in-out 0s forwards;
        // border: #000 2px solid;
        position: relative;

        h4 {
            text-align: center;
            white-space: nowrap;
            font-size: 2rem;
            text-decoration: underline $pistachio;
        }
    }

    .about-me-cards {
        // animation:lightson .2s ease 2 forwards;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);

        .one-card {
            opacity: 0;
            animation: fadeInUp .7s ease-in-out 0s forwards;
            display: flex;
            width: 80vw;
            height: 150px;
            justify-content: center;
            align-items: center;
            align-self: center;
            
            .card-img {
                height: 150px;
                width: 250px;
                display: flex;
                align-items: center;
                align-self: center;
            }

            .card-body {
                h3 {
                    font-size: 1rem;
                    display: flex;
                    justify-content: start;
                }

                p {
                    font-size: .8rem;
                }

            }
        }
    }

// ----------------------------- flow ----------------------------- 
    .flow {
        display: grid;
        justify-content: center;

        .flow-cards{
            margin: 5% 0 0 0;
            display: grid;
            grid-template-rows: repeat(2, 150px);
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: .8rem;
        }
    }

// ----------------------------- skills ----------------------------- 
    .skills {
        display: grid;
        justify-content: center;

        .skills-cards {
            margin: 5% 0 0 0;
            display: grid;
            grid-template-rows: repeat(2, 200px);
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: .8rem;

        }
    }

// ----------------------------- extras ----------------------------- 
    .extras {
        display: grid;
        justify-content: center;

        .extra-cards {
            margin: 5% 0 0 0;
            display: grid;
            justify-content: center;
            grid-template-rows: repeat(2, 200px);
            grid-template-columns: repeat(2, 1fr);

            .one-extra {
                margin: 0 auto;

                img {
                    margin: 0 auto 0 20%;
                }
                p {
                    display: grid;
                    justify-content: center;
                    font-size: .8rem;
                }
            }
        }
    }

// ----------------------------- back to top btn ----------------------------- 
    .top {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

// ----------------------------- portfolio part ----------------------------- 
.port-hidden {
    display: none;
}

.projects {
    // opacity: 0;
    // animation: fadeInUp .3s ease-in-out 0s forwards;
    position: relative;
    visibility: visible;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: -20% 0 0 0;

    .portfolio {
        // opacity: 0;
        // animation: fadeInUp .3s ease-in-out 0s forwards;
        // animation: fadeInUp .6s ease-in-out 0s forwards;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(1, 100px);
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 3em;
        // margin: -10% 0 0 0;




        h4 {
            opacity: 0;
            animation: fadeInUp .3s ease-in-out 0s forwards;
            text-align: center;
            white-space: nowrap;
            font-size: 2rem;
            text-decoration: underline $pistachio;
        }

        .card {
            opacity: 0;
            animation: fadeInUp .5s ease-in-out 0s forwards;
            // animation: fadeInUp .6s ease-in-out 0s forwards;
            // margin: -40% 0 0 0;
        }


    }
}

// ----------------------------- contact part ----------------------------- 
.contact-hidden {
    display: none;
}

.contact {
    position: relative;
    visibility: visible;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: -20% 0 0 0;

    .contact-info {
        // opacity: 0;
        // animation: fadeInUp .3s ease-in-out 0s forwards;
        // animation: fadeInUp .6s ease-in-out 0s forwards;
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(1, 100px);
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5em;


        h4 {
            opacity: 0;
            animation: fadeInUp .3s ease-in-out 0s forwards;
            text-align: center;
            white-space: nowrap;
            font-size: 2rem;
            text-decoration: underline $pistachio;
        }
    }
}

// ----------------------------- resume part ----------------------------- 
.resume-hidden {
    display: none;
}

.resume {
    animation:lightson .3s ease 2 forwards;
    position: relative;
    visibility: visible;
    display: grid;
}

// ----------------------------- back to top btn ----------------------------- 
.top {
    display: flex;
    justify-content: center;
    align-self: center;
}