$poppins: 'Poppins', sans-serif;
$raleway:  'Raleway', sans-serif;
$dark-lava: #463730;
$saphire: #1f5673;
$air : #759fbc;
$shallow-blue: #c9e6e9;
$periwinkle: #b9b8d3;
$mint-green: #a6ffa1;
$grann-smith: #bfffbc;
$pistachio: #8CD867;
$mango: #ed7d3a;
