// fonts
$poppins: 'Poppins', sans-serif;
$raleway:  'Raleway', sans-serif;
$prata: 'Archivo', sans-serif;

// colors
$dark-lava:  #463730;
$dark-gray: #222;
$lightish-gray: #444;
$more-lightish-gray: #777;
$even-more-lightish-gray: #999;
$saphire: #1f5673;
$air : #759fbc;
$shallow-blue: #c9e6e9;
$periwinkle: #b9b8d3;
$periwinkle: #a789d6;
$mint-green: #a6ffa1;
$grann-smith: #bfffbc;
$pistachio: #8CD867;
$mango: #ed7d3a;
$minion-yellow: #FDE74C;
